# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# Données temporaires
uploads/*
downloads/*
!uploads/.gitkeep
!downloads/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
